 
<!--<div class="mat-elevation-z8">
<mat-table mat-table [dataSource]="listCustomer" >
    <ng-container matColumnDef="Username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Username </mat-header-cell>
        <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table> 
</div>
!-->

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>username</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>email_address</th>
        <th> date_of_birth</th>
        <th> preferred_language</th>
        <th>fiat_currency_id</th>
        <th>fiat_currency_code</th>
        <th>in_app_notification</th>
        <th> app_screenshots</th>
        <th>  kyc_level_number</th>
        <th> kyc_level_name</th>
        <th>loyalty_level</th>
        <th> country_id</th>
        <th> country_code</th>
        <th> country_name_en</th>
        <th> country_name_fr</th>
        <th>friends_referred</th>
        <th> referral_rewards_count</th>
        <th>amount_transacted</th>
        <th>  balance_in_default_fiat</th>
        <th>balance_in_customer_fiats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let custormer of customerListService.customerlist'> 
        
        <td>customer.username</td>
        <td>customer.first_name</td>
        <td>customer.last_name</td>
        <td>customer.email_address</td>
        <td>customer.date_of_birth</td>
        <td>customer.preferred_language</td>
        <td>customer.fiat_currency_id</td>
        <td>customer.fiat_currency_code</td>
        <td>customer.in_app_notification</td>
        <td>customer.app_screenshots</td>
        <td>customer.kyc_level_number</td>
        <td>customer.loyalty_level</td>
        <td>customer.country_id</td>
        <td>customer.country_code</td>
        <td>customer.country_name_en</td>
        <td>customer. country_name_fr</td>
        <td>customerfriends_referred</td>
        <td>customer.referral_rewards_count</td>
        <td>customer.amount_transacted</td>
        <td>customer.balance_in_default_fiat</td>
        <td>customer.balance_in_customer_fiats</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

